.NavigationItem{
  flex: 1 1 100%;
  box-sizing: border-box;
  margin: 5px 1px;
  /* width: 100%; */
}
.NavigationItem a {
  text-decoration: none;
  box-sizing: border-box;
  color: chocolate;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.NavigationItem a:hover, .NavigationItem a:active, .NavigationItem a.active {
  color: lightseagreen;
}

@media (min-width: 500px) {
  .NavigationItem{
    flex: auto;
    box-sizing: border-box;
    height: 100%;
    width: auto;
    margin: 0px 1px;
  }
  .NavigationItem a {
    text-decoration: none;
    box-sizing: border-box;
    height: 100%;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 16px;
    display: flex;
    align-items: center;
  }
  
  
  .NavigationItem a:hover, .NavigationItem a:active, .NavigationItem a.active {
    border-bottom: 2px solid lightseagreen;
    color: unset;
    background-color: rgba(255, 255, 255, 0.192);
  }
}