.Order {
    flex: 0.3 0.2 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.658);
    margin: 15px;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.Order h4, .Order h5, .Order h6 {
    flex: 1 1 100%;
}
.Order p{
    flex: 1 1 100%;
    margin: 5px 0;
}

.Order span {
    flex: 0.4 0.02 42%;
    margin: 5px 5px;
    padding: 1px;
    border: 1px solid rgba(0, 0, 0, 0.226);
    border-radius: 10px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.459);
    background-color: rgba(169, 169, 169, 0.13);
}

@media (min-width: 500px) {
    .Order span {
        flex: 0.4 0.02 4.95rem;
    }
}