.DrawerToggle {
  height: 100%;
  padding: 0;
  width: 3em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-sizing: border-box;
}

.DrawerToggle div {
  width: 85%;
  height: 3px;
  border-radius: 1px;
  background-color: white;
}

.DrawerToggle:hover, .DrawerToggle:active {
  background-color: rgba(255, 255, 255, 0.123);
  box-shadow: 1px 0px 0px black;
}

@media (min-width:500px) {
  .DrawerToggle {
    display: none;
  }
}