.ContactData {
    margin: 10px auto;
    text-align: center;
    /* max-width: 80%; */
    
}
.ContactData div {
    margin: 4px 0;
}

.ContactData form {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.267);
    background-color: rgba(255, 255, 255, 0.842);
}

.ContactData label {
    display: inline-block;
    min-width: 4.05em;
}
.ContactData input {
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 10px;
    padding: 4px;
}
.ContactData input:focus {
    background-color: rgb(255, 255, 255);
}

@media (min-width: 550px) {
    .ContactData {
        max-width: 500px;
    }
}