.Wrap {
  margin: 10px 0; 
  --size: 80px;
  height: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Circle {
  /* background-color: cornflowerblue; */
  height: var(--size, 80px);
  width: var(--size, 80px);
  --radius: calc(var(--size, 80px)/2);
  border-radius: var(--radius, 40px);
  box-shadow: inset 3px 3px 5px rgba(100, 148, 237, 0.575);
  animation: rotate 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(218deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}